* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
    background-image: url(hotel.jpg);
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;
    /* text-align: center; */
}

.hero-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.book-button, 
.know-button {
    background-color: aqua;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
    margin: 10px 0px;
    cursor: pointer;
}

.hero-section {
    text-align: center;
    margin-bottom: 20px
}

.about-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-heading,
.know-more-container {
    text-align: center;
}

.about-us {
    width: 50%;
}

ul li {
    list-style: none;
}

.fa-solid {
    margin-right: 10px;
}

.about-section > h1 {
    /* text-align: center;
    margin: 10px 0px; */
    text-decoration: underline;
}

/* .amenities {
    text-align: center;
} */

/* .about-us {
    float: left;
    width: 50%;
    margin: 10px 10px;
    text-align: center;
} */

/* .about-section {
    margin: 20px 30px;
} */

/* .amenities ul {
    text-align: left;
    display: inline-block;
    margin-top: 10px;
} */