h1 {
    color: #FF0000;  /* red */
    font-size: 30px;
    background-color: orange;
    margin: 60px;
    border: 5px solid black;
    padding: 20px;
}

p {
    border: 5px dashed green;
}

#h3 {
    color: blue;
}

.h4 {
    color: orange;
}

img {
    height: 500px;
    width: 500px;
}

h1, h3 {
    color: blue;
    border: 5px solid yellow;
}